<dx-button (onClick)="showPopup()"
           text="Добавить клиента">
</dx-button>
<dx-data-grid
  [dataSource]="carsInfo | async"
  [allowColumnReordering]="false"
  [showBorders]="true"
  keyExpr="id">
  <dxi-column
    dataField="ownerName"
    caption="Имя владельца">
  </dxi-column>
  <dxi-column
    dataField="carMark"
    caption="Марка машины">
  </dxi-column>
  <dxi-column
    dataField="date"
    caption="Дата заправки">
  </dxi-column>
  <dxi-column
    dataField="carNumber"
    caption="Номер машины">
  </dxi-column>
  <dxo-editing
    [allowDeleting]="true"
    caption="Удалить обращения"
    mode="row">
  </dxo-editing>
</dx-data-grid>
<dx-popup [height]="400"
          [hideOnOutsideClick]="true"
          [visible]="isPopupVisible"
          [width]="500"
          (onHidden)="close()"
          title="Добавление клиента">
  <app-form [(isPopupVisible)]="isPopupVisible">
  </app-form>
</dx-popup>


