<dx-button (onClick)="showPopup()"
           text="Добавить клиента">
</dx-button>
<dx-data-grid
  [dataSource]="carsInfo | async"
  [allowColumnReordering]="false"
  [showBorders]="true"
  keyExpr="id">
  <dxi-column
    [dataField]="LCarInfo.OWNER_NAME"
    caption="Имя владельца">
  </dxi-column>
  <dxi-column
    [dataField]="LCarInfo.OWNER_PHONE_NUMBER"
    caption="Номер телефона">
  </dxi-column>
  <dxi-column
    [dataField]="LCarInfo.CAR_MARK"
    caption="Марка машины">
  </dxi-column>
  <dxi-column
    [dataField]="LCarInfo.DATE"
    caption="Дата заправки">
  </dxi-column>
  <dxi-column
    [dataField]="LCarInfo.QUANTITY_OF_OIL"
    caption="Кол-во купленного топлива">
  </dxi-column>
  <dxo-editing
    [allowDeleting]="true"
    caption="Удалить обращения"
    mode="row">
  </dxo-editing>
</dx-data-grid>
<dx-popup [height]="350"
          [width]="600"
          [hideOnOutsideClick]="true"
          [visible]="isPopupVisible"
          (onHidden)="close()"
          title="Добавление клиента">
  <app-form [(isPopupVisible)]="isPopupVisible">
  </app-form>
</dx-popup>


