<div class="form">
  <div class="dx-field">
    <div class="dx-field-label">
      Имя владельца
    </div>
    <div class="dx-field-value">
      <dx-text-box [formControl]="ownerNameControl"
                   [isValid]="ownerNameControl.valid || ownerNameControl.untouched"
                   [showClearButton]="true">
      </dx-text-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">
      Номер телефона
    </div>
    <div class="dx-field-value">
      <dx-text-box [formControl]="ownerPhoneNumber"
                   [isValid]="ownerPhoneNumber.valid || ownerPhoneNumber.untouched"
                   [showClearButton]="true"
                   mask="+7 (000) 000-00 00"/>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">
      Дата обращения
    </div>
    <div class="dx-field-value">
      <dx-date-box [formControl]="dateControl"
                   [isValid]="dateControl.valid || dateControl.untouched"
                   [showClearButton]="true"
                   [min]="minDate"
                   [max]="currentDate">
                   type="datetime">
      </dx-date-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">
      Марка машины
    </div>
    <dx-select-box [dataSource]="CarMarksConst"
                   [formControl]="carMarkControl"
                   [isValid]="carMarkControl.valid || carMarkControl.untouched"
                   [showClearButton]="true"
                   class="dx-field-value">
    </dx-select-box>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">
      Наличие дисконтной карты
    </div>
    <div class="dx-field-value">
      <dx-check-box [formControl]="hasDiscountCardControl"
                    [value]="false"/>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">
      Кол-во купленного топлива (в литрах)
    </div>
    <div class="dx-field-value">
      <dx-text-box [formControl]="quantityOfOilControl"
                   [isValid]="quantityOfOilControl.valid || quantityOfOilControl.untouched"
                   [showClearButton]="true">
                   [showClearButton]="true">
      </dx-text-box>
    </div>
  </div>
  <dx-button (click)="addCarInfo()"
             text="Добавить нового клиента"/>
</div>
